<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clipsub.flutter_aztec_editor">

    <application>
        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name=".FlutterAztecEditorActivity" />
    </application>

</manifest>